@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 83%;
  margin: 0 auto;
}

.bg-black {
  background-color: black;
  color: white;
  transition: all 0.2s;
}

.bg-white {
  background-color: white;
  color: black;
  transition: all 0.2s;
}

.bg-ccc {
  background-color: #ccc;
}

.header {
  width: 100%;
  border: 1px solid #ccc;
  transition: all 0.2s;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83%;
  margin: 0 auto;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
}

.header nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  cursor: pointer;
  width: 100%;
  height: 45px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  z-index: 99;
}

.header nav ul li a {
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header nav ul li .nav_hover_div {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header nav ul li:nth-child(1) {
  min-width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: none;
  position: relative;
}

.header nav ul li:nth-child(1) a {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: absolute;
  left: 0;
}

.header nav ul li:nth-child(1) a h2 {
  width: 26px;
  height: 28px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: ReithSans, Arial, Helvetica freesans, sans-serif;
}

.header nav ul li:nth-child(2) {
  height: 45px;
  display: flex;
  justify-content: center;
  position: relative;
}

.header nav ul li:nth-child(2):hover .nav_hover_div {
  background-color: #0000ff;
}

.header nav ul li:nth-child(2) a {
  display: flex;
  align-items: center;
  margin-right: 45px;
  width: 110px;
}

.header nav ul li:nth-child(2) a img {
  margin-right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: all 0.4s;
}

.opacity {
  opacity: 0;
  transition: all 0.4s;
}

.header nav ul li:nth-child(4):hover .nav_hover_div {
  background-color: red;
}

.header nav ul li:nth-child(5):hover .nav_hover_div {
  background-color: yellow;
}

.header nav ul li:nth-child(6):hover .nav_hover_div {
  background-color: #6e95eb;
}

.header nav ul li:nth-child(7):hover .nav_hover_div {
  background-color: #0000ff;
}

.header nav ul li:nth-child(8):hover .nav_hover_div {
  background-color: green;
}

.header nav ul li:nth-child(9):hover .nav_hover_div {
  background-color: #020263;
}

.header nav ul li:nth-child(10):hover .nav_hover_div {
  background-color: #800080;
}

.header nav ul li:nth-child(11):hover .nav_hover_div {
  background-color: white;
}

.header nav ul li:nth-child(11) {
  min-width: 120px;
}

.header nav ul li:nth-child(11) a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.header nav ul li:nth-child(12) {
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
  max-width: 190px;
  display: flex;
  justify-content: center;
  color: #333;
  align-items: center;
  position: relative;
}

.bg-ccc {
  background-color: #ccc;
}

.header nav ul li:nth-child(12) input {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  border: none;
  outline: none;
  font-weight: 500;
  padding-left: 5px;
  font-size: 14px;
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header nav ul li:nth-child(12) i {
  height: 100%;
  position: absolute;
  right: 0;
  padding-left: 8px;
  padding-top: 4px;
}

/*  bottom_header  */

.bottom_header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  border: 1px solid #ccc;
  width: 100%;
  height: 0;
  transition: all 0.4ght 0.3s;
  overflow: hidden;
}

.mystyle {
  width: 100%;
  height: 100%;
  transition: all 0.4ght 0.3s;
}

.bottom_header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.bottom_header ul li {
  width: 190px;
  height: 60px;
  display: flex;
  align-items: center;
}

.bottom_header ul li:nth-child(1) h1 {
  font-family: sans-serif;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}

.bottom_header ul li a {
  width: 160px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-left: 8px;
}

.bottom_header ul li a:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 90%;
  }

  .header nav {
    width: 90%;
  }
}

.bottom_header ul li:nth-child(8) {
  display: none;
}
.bottom_header ul li:nth-child(7) {
  display: none;
}
.bottom_header ul li:nth-child(6) {
  display: none;
}
.bottom_header ul li:nth-child(5) {
  display: none;
}
.bottom_header ul li:nth-child(4) {
  display: none;
}
.bottom_header ul li:nth-child(3) {
  display: none;
}

.bottom_header ul li:nth-child(2) {
  display: none;
}

@media only screen and (max-width: 1544px) {
  .bottom_header ul li:nth-child(8) {
    display: flex;
  }
  .header nav ul li:nth-child(10) {
    display: none;
  }
}

@media only screen and (max-width: 1440px) {
  .bottom_header ul li:nth-child(7) {
    display: flex;
  }
  .header nav ul li:nth-child(9) {
    display: none;
  }
}

@media only screen and (max-width: 1336px) {
  .bottom_header ul li:nth-child(6) {
    display: flex;
  }
  .header nav ul li:nth-child(8) {
    display: none;
  }

  .container {
    width: 95%;
  }

  .header nav {
    width: 95%;
  }
}

@media only screen and (max-width: 1180px) {
  .header nav ul li:nth-child(2) {
    width: 100px;
  }

  .header nav ul li:nth-child(2) a img {
    display: none;
  }

  .header nav ul li:nth-child(2) a {
    margin-right: 0;
    width: 50px;
  }

  .container {
    width: 95%;
  }

  .header nav {
    width: 95%;
  }
}

@media only screen and (max-width: 960px) {
  .bottom_header ul {
    justify-content: space-between;
  }

  .header nav ul li:nth-child(2) {
    width: 40px;
    opacity: 0;
  }

  .bottom_header ul li:nth-child(5) {
    display: flex;
  }
  .header nav ul li:nth-child(7) {
    display: none;
  }
}

@media only screen and (max-width: 807px) {
  .bottom_header ul li:nth-child(4) {
    display: flex;
  }
  .header nav ul li:nth-child(6) {
    display: none;
  }
}

@media only screen and (max-width: 773px) {
  .bottom_header ul li:nth-child(3) {
    display: flex;
  }
  .header nav ul li:nth-child(5) {
    display: none;
  }
  .header nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
  }
}

@media only screen and (max-width: 653px) {
  .bottom_header ul li:nth-child(2) {
    display: flex;
  }
  .header nav ul li:nth-child(4) {
    display: none;
  }

  .bottom_header ul li {
    width: 180px;
  }
}

@media only screen and (max-width: 600px) {
  .header nav ul li:nth-child(12) {
    height: 100%;
    max-width: 8%;
    margin: 0px;
  }

  .header nav ul li:nth-child(12) input {
    display: none;
  }

  .header nav ul li:nth-child(12) i {
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
  }

  .bottom_header ul li {
    width: 140px;
  }

  .bottom_header ul li a {
    width: 90%;
  }
  .bg-ccc {
    background-color: white;
  }

  .bg-search-i-white {
    color: white;
  }

  .bg-search-i-black {
    color: black;
  }
}

/* Main sections */

section {
  margin: 10px auto;
}

.main-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
  color: #4a4a4a;
  margin-bottom: 15px;
}

.main-text h2:nth-child(1) {
  font-weight: bold;
  font-size: 1.55rem;
  background-color: #0000;
}

.main-text h2:nth-child(2) {
  transition: opacity, 0.5s;
  color: #8c8c8c;
  text-align: right;
  font-weight: normal;
  font-size: 1.55rem;
}

@media only screen and (max-width: 1280px) {
  .main-text {
    margin-top: 0;
    padding: 10px 0;
    font-family: Arial, Helvetica, freesans, sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  .main-text {
    display: none;
  }
}

.main-block {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.main-block .top-block {
  width: 100%;
  height: 50vh;
  background: cover center no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgb(54, 53, 53)
    ),
    url("https://ichef.bbci.co.uk/news/976/cpsprodpb/0143/production/_121132300_071217442-1.jpg");
  position: relative;
  cursor: pointer;
}

.main-block .top-block:hover {
  opacity: 0.95;
  backface-visibility: hidden;
}

.main-block .top-block article {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
}

.main-block .top-block article h1 {
  font-size: 32px;
  font-family: Arial, Helvetica, freesans, sans-serif;
  font-weight: 500;
}

.main-block .top-block article p {
  font-size: 17px;
  font-family: Arial, Helvetica, freesans, sans-serif;
  font-weight: 500;
  padding: 15px 0;
  color: #d3d3d3;
}

.main-block .top-block article span {
  font-size: 17px;
  font-family: Arial, Helvetica, freesans, sans-serif;
  font-weight: 500;
  position: relative;
  padding-left: 10px;
  color: #d3d3d3;
}

.main-block .top-block article span::before {
  content: " ";
  position: absolute;
  width: 4px;
  height: 90%;
  left: 0px;
  background-color: red;
}

.main-block .bottom-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-block .bottom-block div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bottom-block div:nth-child(1) {
  padding-left: 15px;
}

.bottom-block div:nth-child(2) {
  padding-left: 15px;
}

.main-block .bottom-block div div {
  width: 100%;
  height: 24vh;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgb(54, 53, 53)
    ),
    url("https://ichef.bbci.co.uk/news/976/cpsprodpb/0143/production/_121132300_071217442-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  cursor: pointer;
}

.main-block .bottom-block div div:hover {
  opacity: 0.95;
  backface-visibility: hidden;
}

.main-block .bottom-block div div:nth-child(2) {
  margin-top: 15px;
}

.main-block .bottom-block div div article {
  position: absolute;
  bottom: 0;
  font-family: Arial, Helvetica, freesans, sans-serif;
  padding-bottom: 10px;
}

.main-block .bottom-block div div article h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.main-block .bottom-block div div article span {
  padding-left: 10px;
  position: relative;
  color: #d3d3d3;
}

.main-block .bottom-block div div article span::before {
  content: " ";
  position: absolute;
  width: 4px;
  height: 15px;
  left: 0px;
}

.main-block
  .bottom-block
  div:nth-child(1)
  div:nth-child(1)
  article
  span::before {
  background-color: red;
}
.main-block
  .bottom-block
  div:nth-child(1)
  div:nth-child(2)
  article
  span::before {
  background-color: yellow;
}
.main-block
  .bottom-block
  div:nth-child(2)
  div:nth-child(1)
  article
  span::before {
  background-color: green;
}
.main-block
  .bottom-block
  div:nth-child(2)
  div:nth-child(2)
  article
  span::before {
  background-color: #47a1d8;
}

.main-block .bottom-block div:nth-child(1) div:nth-child(1) {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgb(54, 53, 53)
    ),
    url("https://ichef.bbci.co.uk/news/976/cpsprodpb/8B30/production/_121123653_gettyimages-1172702537.jpg");
}
.main-block .bottom-block div:nth-child(1) div:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgb(54, 53, 53)
    ),
    url("https://ichef.bbci.co.uk/news/976/cpsprodpb/3137/production/_121099521_ee9a6aef-1dc2-4216-b24e-b08d7100e83a.jpg");
}
.main-block .bottom-block div:nth-child(2) div:nth-child(1) {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgb(54, 53, 53)
    ),
    url("https://ichef.bbci.co.uk/news/976/cpsprodpb/DD67/production/_121097665_b8660980-dc95-4e87-8786-691060c57306.jpg");
}
.main-block .bottom-block div:nth-child(2) div:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgb(54, 53, 53)
    ),
    url("https://ichef.bbci.co.uk/news/976/cpsprodpb/DC3F/production/_121138365_mediaitem121137729.jpg");
}

@media only screen and (max-width: 1005px) {
  .main-text h2 {
    font-size: 1.05rem;
  }

  .main-block {
    flex-direction: column;
  }

  .main-block .top-block {
    height: 60vh;
  }
  .bottom-block div:nth-child(1) {
    padding-left: 0;
  }

  .bottom-block div:nth-child(1) div:nth-child(1) {
    margin-top: 15px;
  }

  .bottom-block div:nth-child(2) div:nth-child(1) {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .main-block .top-block {
    height: 30vh;
  }

  .main-block .top-block article p {
    display: none;
  }

  .main-block .top-block article h1 {
    font: size 16px;
    margin-bottom: 10px;
  }

  .main-block .top-block article span {
    font-size: 14px;
  }

  .main-block .bottom-block {
    width: 100%;
    display: block;
  }

  .bottom-block div:nth-child(1) {
    padding-left: 0;
  }

  .bottom-block div:nth-child(2) {
    padding-left: 0px;
  }

  .main-block .bottom-block div div {
    height: 8vh;
    border-bottom: 1px solid #ccc;
    color: black;
  }

  .main-block .bottom-block div:nth-child(1) div:nth-child(1) {
    background: none;
  }
  .main-block .bottom-block div:nth-child(1) div:nth-child(2) {
    background: none;
  }
  .main-block .bottom-block div:nth-child(2) div:nth-child(1) {
    background: none;
  }
  .main-block .bottom-block div:nth-child(2) div:nth-child(2) {
    background: none;
  }

  .main-block .bottom-block div div article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5px 0px;
    overflow: hidden;
  }

  .main-block .bottom-block div div article h2 {
    font-size: 1rem;
    font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  }

  .main-block .bottom-block div div article span {
    font-size: 0.75rem;
    color: #767676;
  }
}

